.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  background: rgba(239, 231, 220, 0.3);
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Rammetto One', cursive;
  margin-top: auto;
  color: rgba(0,0,0,0.3);
}

