<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="../assets/stylesheet/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" rel="stylesheet">
</head>
  <body class="site">
    <div class="site-content">
      <!-- NAVBAR -->
      <!-- BANNER -->
      <div class="banner">
        <div class="item1">
          <h2>Jérémy</h2>
        </div>
        <div class="item2">
          <h2>BRD</h2>
        </div>
        <div class="item3">
          <h2>Full Stack Developer</h2>
        </div>
      </div>
      <!-- MAIN CONTENT -->
      <div class="container">
      </div>
      <!-- FOOTER -->
      <div class="footer">
        <div class="footer-links">
          <a href="https://github.com/JeremyBRD" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/JBarbedienne" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/jeremy-barbedienne/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="mailto:jeremybarbedienne@gmail.com" class="link" data-ga-action="click" data-ga-category="Contact links" data-ga-label="Footer CTA - Email"><i class="far fa-paper-plane"></i></a>
        </div>
        <div class="footer-copyright">
          <span><i class="fas fa-heart"></i>
          Jérémy BRD</span>
        </div>
      </div>
    </div>
  </body>
</html>
